<th:block xmlns:th="http://www.thymeleaf.org">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">
                <a th:class="${sort == '#' ? 'strong' : null}" href="?sort=#">#</a></th>
            <th scope="col">
                <a th:class="${sort == 'team' ? 'strong' : null}" href="?sort=team">Team</a></th>
            <th scope="col">
                <a th:class="${sort == 'spiele' ? 'strong' : null}" href="?sort=spiele">Spiele</a></th>
            <th scope="col">
                <a th:class="${sort == 's3' ? 'strong' : null}" href="?sort=s3">S3</a></th>
            <th scope="col">
                <a th:class="${sort == 's2' ? 'strong' : null}" href="?sort=s2">S2</a></th>
            <th scope="col">
                <a th:class="${sort == 'n1' ? 'strong' : null}" href="?sort=n1">N1</a></th>
            <th scope="col">
                <a th:class="${sort == 'n0' ? 'strong' : null}" href="?sort=n0">N0</a></th>
            <th scope="col">
                <a th:class="${sort == 't' ? 'strong' : null}" href="?sort=t">T</a></th>
            <th scope="col">
                <a th:class="${sort == 'gt' ? 'strong' : null}" href="?sort=gt">GT</a></th>
            <th scope="col">
                <a th:class="${sort == 'gts' ? 'strong' : null}" href="?sort=gts"
                   title="Tore - Gegentore">GT-Schnitt</a></th>
            <th scope="col">
                <a th:class="${sort == 't_pro_spiel' ? 'strong' : null}" href="?sort=t_pro_spiel">T/Spiel</a></th>
            <th scope="col">
                <a th:class="${sort == 'gt_pro_spiel' ? 'strong' : null}" href="?sort=gt_pro_spiel">GT/Spiel</a></th>
            <th scope="col">Punkte</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <th scope="row" th:text="${entry.platz}"></th>
            <td th:text="${entry.teamName}"></td>
            <td th:text="${entry.anzahlSpiele}"></td>
            <td th:text="${entry.anzahlSiege3P}"></td>
            <td th:text="${entry.anzahlSiege2P}"></td>
            <td th:text="${entry.anzahlNiederlagen1P}"></td>
            <td th:text="${entry.anzahlNiederlagen0P}"></td>
            <td th:text="${entry.tore}"></td>
            <td th:text="${entry.gegentore}"></td>
            <td th:text="${entry.gegenTorSchnitt}"></td>
            <td th:text="${#numbers.formatDecimal(entry.toreProSpiel, 1, 2)}"></td>
            <td th:text="${#numbers.formatDecimal(entry.gegentoreProSpiel, 1, 2)}"></td>
            <td th:text="${entry.punkte}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
