<th:block xmlns:th="http://www.thymeleaf.org">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col"><a href="?sort=nachname">Nachname</a></th>
            <th scope="col"><a href="?sort=vorname">Vorname</a></th>
            <th scope="col"><a href="?sort=team">Team</a></th>
            <th scope="col"><a href="?sort=tore">Tore</a></th>
            <th scope="col"><a href="?sort=1ass">1. Assist</a></th>
            <th scope="col"><a href="?sort=strafen">Strafen (Minuten)</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.vorname}"></td>
            <td th:text="${entry.nachname}"></td>
            <td th:text="${entry.teamName}"></td>
            <td th:text="${entry.tore}"></td>
            <td th:text="${entry.firstAssist}"></td>
            <td th:text="${entry.strafenString}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
