<th:block xmlns:th="http://www.thymeleaf.org">

    <form class="form-inline" method="get">
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-9">
                    <select class="custom-select w-100" id="teamauswahl" name="teamauswahl">
                        <option value="">-</option>
                        <th:block th:each="team : ${teams}">
                            <th:block th:if="${team.id == selectedTeam}">
                                <option th:value="${team.id}"
                                        th:text="${team.name}"
                                        selected
                                ></option>
                            </th:block>
                            <th:block th:if="${team.id != selectedTeam}">
                                <option th:value="${team.id}"
                                        th:text="${team.name}"
                                ></option>
                            </th:block>
                        </th:block>

                    </select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary w-100">Team filtern</button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col"><a th:href="${'?sort=nachname' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Nachname</a></th>
            <th scope="col"><a th:href="${'?sort=vorname' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Vorname</a></th>
            <th scope="col"><a th:href="${'?sort=team' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Team</a></th>
            <th scope="col"><a th:href="${'?sort=spiele' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Spiele</a></th>
            <th scope="col"><a th:href="${'?sort=tore' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Tore</a></th>
            <th scope="col"><a th:href="${'?sort=torejespiel' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Tore/Spiel</a></th>
            <th scope="col"><a th:href="${'?sort=1ass' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">1. Assist</a></th>
            <th scope="col"><a th:href="${'?sort=score' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Score</a></th>
            <th scope="col"><a th:href="${'?sort=strafminuten' + (selectedTeam != null ? ('&teamauswahl=' + selectedTeam) : '')}">Strafminuten (#Strafen)</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.vorname}"></td>
            <td th:text="${entry.nachname}"></td>
            <td th:text="${entry.teamName}"></td>
            <td th:text="${entry.anzahlSpiele}"></td>
            <td th:text="${entry.tore}"></td>
            <td th:text="${entry.toreJeSpiel}"></td>
            <td th:text="${entry.firstAssist}"></td>
            <td th:text="${entry.score}"></td>
            <td th:text="${entry.strafMinuten + ' (' + entry.strafen + ')'}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
