<th:block xmlns:th="http://www.thymeleaf.org">

    <form class="form-inline" method="get">
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-9">
                    <select class="custom-select w-100" id="teamauswahl" name="teamauswahl">
                        <option value="">-</option>
                        <th:block th:each="team : ${teams}">
                            <th:block th:if="${team.id == selectedTeam}">
                                <option th:value="${team.id}"
                                        th:text="${team.name}"
                                        selected
                                ></option>
                            </th:block>
                            <th:block th:if="${team.id != selectedTeam}">
                                <option th:value="${team.id}"
                                        th:text="${team.name}"
                                ></option>
                            </th:block>
                        </th:block>

                    </select>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary w-100">Team filtern</button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col"><a href="?sort=nachname">Nachname</a></th>
            <th scope="col"><a href="?sort=vorname">Vorname</a></th>
            <th scope="col"><a href="?sort=team">Team</a></th>
            <th scope="col"><a href="?sort=spiele">Spiele</a></th>
            <th scope="col"><a href="?sort=tore">Tore</a></th>
            <th scope="col"><a href="?sort=torejespiel">Tore/Spiel</a></th>
            <th scope="col"><a href="?sort=1ass">1. Assist</a></th>
            <th scope="col"><a href="?sort=strafen">Strafen (Minuten)</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${entries}">
            <td th:text="${entry.vorname}"></td>
            <td th:text="${entry.nachname}"></td>
            <td th:text="${entry.teamName}"></td>
            <td th:text="${entry.anzahlSpiele}"></td>
            <td th:text="${entry.tore}"></td>
            <td th:text="${entry.toreJeSpiel}"></td>
            <td th:text="${entry.firstAssist}"></td>
            <td th:text="${entry.strafenString}"></td>
        </tr>
        </tbody>
    </table>
</th:block>
