<th:block xmlns:th="http://www.thymeleaf.org">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Heim</th>
            <th scope="col">Gast</th>
            <th scope="col">Ort</th>
            <th scope="col">Endstand reg <abbr title="Overtime / Penalty">(ov/p)</abbr></th>
            <th scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bericht: ${berichte}">
            <td th:text="${bericht.begin}"></td>
            <td th:text="${bericht.teamHeim}"></td>
            <td th:text="${bericht.teamGast}"></td>
            <td th:text="${bericht.ort}"></td>
            <td th:text="${bericht.ergebnisString}"></td>
            <td>
                <a th:href="${'/spielberichte/' + bericht.id}">Details</a> |
                <a th:href="${'/spielberichte/' + bericht.id} + '/edit'">Bearbeiten</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/spielberichte/new">Spielbericht hinzufügen</a>
</th:block>
