<th:block xmlns:th="http://www.thymeleaf.org">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nachname</th>
            <th scope="col">Vorname</th>
            <th scope="col">Teamname</th>
            <th scope="col">Aktion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="spieler: ${spielerList}">
            <td th:text="${spieler.nachname}"></td>
            <td th:text="${spieler.vorname}"></td>
            <td th:text="${spieler.teamName}"></td>
            <td><a th:href="${'/spieler-bearbeiten/' + spieler.id}">bearbeiten</a></td>
        </tr>
        </tbody>
    </table>
</th:block>
