<th:block xmlns:th="http://www.thymeleaf.org">
    <h3>Spielbericht bearbeiten</h3>
    <form method="post" th:object="${form}" th:action="${'/spielberichte/submit'}">
        <input type="hidden" name="id" th:field="*{id}">

        <div class="row mb-3">
            <div class="col">
                <div class="form-group">
                    <label for="beginTimeString">Begin (YYYY-MM-DD'T'hh:mm:ss)</label>
                    <input type="text" class="form-control" id="beginTimeString" th:field="*{beginTimeString}" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="ort">Ort</label>
                    <input type="text" class="form-control" id="ort" th:field="*{ort}" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="zuschauer">Zuschauer</label>
                    <input type="number" class="form-control" id="zuschauer" th:field="*{zuschauer}" />
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="form-group">
                    <label for="heimteam">Heimteam</label>
                    <select th:field="*{teamHeimId}" class="custom-select" id="heimteam">
                        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                    </select>
                </div>
            </div>
            <div class="col">
                <label for="gastteam">Gast</label>
                <select th:field="*{teamGastId}" class="custom-select" id="gastteam">
                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <div class="form-group">
                    <label for="schiedsrichter1">Schiedsrichter 1</label>
                    <input type="text" class="form-control" id="schiedsrichter1" th:field="*{schiedsrichter1}" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="schiedsrichter2">Schiedsrichter 1</label>
                    <input type="text" class="form-control" id="schiedsrichter2" th:field="*{schiedsrichter2}" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="zeitnehmer">Zeitnehmer</label>
                    <input type="text" class="form-control" id="zeitnehmer" th:field="*{zeitnehmer}" />
                </div>
            </div>
        </div>

        <h4>Anwesende Spieler</h4>
        <div class="row mb-3">
            <div class="col">
                <label for="spielerheim">Heimteam</label>
                <select th:field="*{anwesendeSpielerHeim}" class="custom-select heim-spieler-selection" id="spielerheim" multiple="multiple">
                    <option value="">-</option>
                    <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                </select>
            </div>
            <div class="col">
                <label for="spielergast">Gastteam</label>
                <select th:field="*{anwesendeSpielerGast}" class="custom-select gast-spieler-selection" id="spielergast" multiple="multiple">
                    <option value="">-</option>
                    <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                </select>
            </div>
        </div>

        <h4>Tore</h4>
        <div class="row mb-3">
            <div class="col" style="border-right: 1px solid #ccc">
                <h5>Heimteam</h5>
                <div class="row" th:each="torereignis, stat : *{heimSpielerTorEreignisList}">
                    <input type="hidden" th:field="*{heimSpielerTorEreignisList[__${stat.index}__].id}" />
                    <div class="col">
                        <div class="form-group">
                            <label>Minute</label>
                            <input type="number" class="form-control" th:field="*{heimSpielerTorEreignisList[__${stat.index}__].time}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Schütze</label>
                            <select th:field="*{heimSpielerTorEreignisList[__${stat.index}__].schuetzeId}" class="custom-select heim-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>First Assist</label>
                            <select th:field="*{heimSpielerTorEreignisList[__${stat.index}__].firstAssistId}" class="custom-select heim-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Second Assist</label>
                            <select th:field="*{heimSpielerTorEreignisList[__${stat.index}__].secondAssistId}" class="custom-select heim-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>Gastteam</h5>
                <div class="row" th:each="torereignis, stat : *{gastSpielerTorEreignisList}">
                    <input type="hidden" th:field="*{gastSpielerTorEreignisList[__${stat.index}__].id}" />
                    <div class="col">
                        <div class="form-group">
                            <label>Minute</label>
                            <input type="number" class="form-control" th:field="*{gastSpielerTorEreignisList[__${stat.index}__].time}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Schütze</label>
                            <select th:field="*{gastSpielerTorEreignisList[__${stat.index}__].schuetzeId}" class="custom-select gast-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>First Assist</label>
                            <select th:field="*{gastSpielerTorEreignisList[__${stat.index}__].firstAssistId}" class="custom-select gast-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Second Assist</label>
                            <select th:field="*{gastSpielerTorEreignisList[__${stat.index}__].secondAssistId}" class="custom-select gast-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>Strafen</h4>
        <div class="row">
            <div class="col" style="border-right: 1px solid #ccc">
                <h5>Heimteam</h5>
                <div class="row" th:each="strafereignis, stat : *{heimSpielerStrafEreignisList}">
                    <input type="hidden" th:field="*{heimSpielerStrafEreignisList[__${stat.index}__].id}" />
                    <div class="col">
                        <div class="form-group">
                            <label>Minute</label>
                            <input type="number" class="form-control" th:field="*{heimSpielerStrafEreignisList[__${stat.index}__].time}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Spieler</label>
                            <select th:field="*{heimSpielerStrafEreignisList[__${stat.index}__].spielerId}" class="custom-select heim-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>RV</label>
                            <input type="number" class="form-control" th:field="*{heimSpielerStrafEreignisList[__${stat.index}__].rv}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Dauer (min)</label>
                            <input type="number" min="0" class="form-control" th:field="*{heimSpielerStrafEreignisList[__${stat.index}__].dauer}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h5>Gastteam</h5>
                <div class="row" th:each="strafereignis, stat : *{gastSpielerStrafEreignisList}">
                    <input type="hidden" th:field="*{gastSpielerStrafEreignisList[__${stat.index}__].id}" />
                    <div class="col">
                        <div class="form-group">
                            <label>Minute</label>
                            <input type="number" class="form-control" th:field="*{gastSpielerStrafEreignisList[__${stat.index}__].time}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Spieler</label>
                            <select th:field="*{gastSpielerStrafEreignisList[__${stat.index}__].spielerId}" class="custom-select gast-spieler-selection">
                                <option value="">-</option>
                                <option th:each="sp : ${spieler}" th:value="${sp.id}" th:text="${sp.fullNameWithTeamPraefix}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>RV</label>
                            <input type="number" class="form-control" th:field="*{gastSpielerStrafEreignisList[__${stat.index}__].rv}" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Dauer (min)</label>
                            <input type="number" min="0" class="form-control" th:field="*{gastSpielerStrafEreignisList[__${stat.index}__].dauer}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>
</th:block>