.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 600px;
}

.footer {
    text-align: center;
}

.custom-select--height {
    height: 500px !important;
}

.strong {
    font-weight: 900;
}